name: Java Build and Run

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Compile Main.java
        run: |
          mkdir -p build
          javac -d build src/ru/mentee/power/variables/Main.java

      - name: Run Main.class
        run: |
          cd build
          java ru.mentee.power.variables.Main